<%- include('partials/head'); %>
<%- include('partials/nav'); %>

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="vertical-align: middle;">#</th>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">Price </th>
                <th scope="col">Quantity</th>
                <th scope="col">Total </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="product-info-table">

            <% for (let i = 0; i < cart.length; i++) { %>
                <tr id=<%= cart[i].productID._id %>>
                    <th scope="row" class="aaa" id=<%= cart[i].productID._id %>><%= i + 1 %></th>
                    <th scope="row"><img class="" src="http://via.placeholder.com/300x180" alt="Card image cap"></th>
                    <td id ="name"><%= cart[i].productID.name %></td>
                    <td><%= cart[i].productID.description %></td>
                    <td id="price"><%= '$' + cart[i].productID.price %></td>
                    <td id = quantity><%= cart[i].quantity %></td>
                    <td id ="total"><%= '$' + cart[i].productID.price * cart[i].quantity %></td>
                    <td id="add-d"><i class="fas fa-plus mr-2"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                    <td><i class="fas fa-minus mr-2"></i></td>
                  
                </tr>
            <% } %>

        </tbody>
    </table>

    <div class="d-flex justify-content-end">
        <h5>Total: <span class="price text-success" id ="total-price">$89</span></h5>
    </div>

    <div class="d-flex justify-content-end">
        <button class="btn btn-success">Checkout</button>
    </div>
    <script type="text/javascript" src="/js/cart-page-functionality.js" async></script>

</div>