<%- include('partials/head'); %>
<%- include('partials/nav'); %>
    <div class="container">
        <h1>
            <% if (user) { %> 
                <%= `Welcome ${user.name} | Index Page` %> 
            <% } else { %>
                Index Page
            <% } %>
        </h1>

        <section class="products">
            <div class="container py-5">
                <div class="row py-5">
                    <div class="col-lg-5 m-auto text-center">
                        <h1>Products</h1>
                    </div>
                </div>
                <div class="row products">
                <% if (products) { %> 
                    <% for(var i=0; i < products.length; i++) { %>
                            <div class="col-lg-3 text-center">
                                <div class="card bg-light mb-2">
                                    <div class="card-body">
                                        <%= products[i].name %>
                                    <%= products[i].description %>
                                    </div>
                                </div>
                                $<%= products[i].price %>
                            </div>
    
                                <!-- Display cart button when logged in -->
                                <% if (user) { %> 
                                <button type="submit" class="btn btn-primary">Add to cart</button>
                                <% } %>
                                <% } %>
                                <% } else { %>
                                    Not working
                                    <% } %>
                                </div>
                </div>
        </section>
    
        
    </div>
</body>
</html>