<%- include('partials/head'); %>
<%- include('partials/nav'); %>
    <div class="container">
        <h1>
            <% if (user) { %> 
                <%= `Welcome ${user.name} | Index Page` %> 
            <% } else { %>
                Index Page
            <% } %>
        </h1>

        <section class="products">
            <div class="container py-5">
                <div class="row py-5">
                    <div class="col-lg-5 m-auto text-center">
                        <h1>Products</h1>
                    </div>
                </div>
                <div class="row products" id="card">
                <% if (products) { %> 
                    <% for(var i=0; i < products.length; i++) { %>
                            <div class="col-lg-3 text-center py-5" id = <%=products[i]._id %> >
                                <div class="card bg-light mb-2">
                                    <div class="card-body">
                                        <p id ="productname"><%= products[i].name %></p>
                                    <p><%= products[i].description %></p>
                                    </div>
                                </div>
                                <p>
                                    $<%= products[i].price %>
                                </p>
                                

                                 <!-- Display cart button when logged in -->
                                 <% if (user) { %> 
                                    <button type="submit" class="btn btn-primary">Add to cart</button>
                                    <% } %>
                            </div>
                                    
                    <% } %>
                <% } else { %>
                    Not working
                <% } %>
                </div>
                </div>
        </section>
    
        
    </div>
    <%- include('partials/footer'); %>


</body>
</html>