<%- include('partials/head'); %>
<%- include('partials/nav'); %>
    <div class="container">
        <h1>
            <% if (user) { %> 
                <%= `Welcome ${user.name} | Index Page` %> 
            <% } else { %>
                Index Page
            <% } %>
        </h1>

        <div class="container">
            <% if (products) { %> 
                <% for(var i=0; i < products.length; i++) { %>
                    <div class="row products">
                        <div class="col"><%= products[i].name %>
                        <div class="col"><%= products[i].description %>
                        <div class="col"><%= products[i].price %>
                      <!-- <td><%= products[i].description %></td>
                      <td><%= products[i].price %></td> -->
                    </div>
                <% } %>
            <% } else { %>
                Not working
            <% } %>
            </div>
    
        
    </div>
</body>
</html>