<%- include('partials/head'); %>
<%- include('partials/nav'); %>
    <div class="container">
        <h1>
            <% if (user) { %> 
                <%= `Welcome ${user.name} | Index Page` %> 
            <% } else { %>
                Index Page
            <% } %>
        </h1>

        <section class="products">
            <div class="container py-5">
                <div class="row py-5">
                    <div class="col-lg-5 m-auto text-center">
                        <h1>Products</h1>
                    </div>
                </div>
                <div class="row products" id="card">
                <% if (products) { %> 
                    <% for(var i=0; i < products.length; i++) { %>
                            <div class="col-lg-3 text-center py-5" id = <%=products[i]._id %> >
                                <div class="card text-white bg-dark mb-2">
                                    
                                    <% if (products[i].productImage) { %>
                                        <img class="card-img-top" src="<%= products[i].productImage %>" alt="Card image cap">
                                    <% } else { %>
                                        <img class="card-img-top" src="http://via.placeholder.com/200x180" alt="Card image cap">
                                    <% } %>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title" id ="productname"><%= products[i].name %></h5>
                                        
                                        <p class="card-subtitle mb-2 text-muted"><%= products[i].description %></p>
                                        <p>$<%= products[i].price %></p>
                                        
                                        <% if (user) { %> 
                                            <!-- Display cart button when logged in -->
                                            <button type="submit" class="btn btn-primary">Add to cart</button>
                                        <% } %>
                                    
                                    </div>
                                
                                </div> 
                            </div>
                                    
                    <% } %>
                <% } else { %>
                    Not working
                <% } %>
                </div>
                </div>
        </section>
    
        
    </div>
    <%- include('partials/footer'); %>


</body>
</html>